<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>

    <style>
      .form { display: flex; flex-direction: column; width: 50%; margin: 0 auto;
      gap: 10px; } .topbar { text-align: center; } .bottom { text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="topbar">
      <p>
        <a href="{{host}}/login">login</a>
        |
        <a href="{{host}}/register">register</a>
      </p>
    </div>
    <form action="/api/sessions/register" method="POST" class="form">
      <label for="first_name">First name: </label>
      <input type="text" name="first_name" required />
      <label for="last_name">Last name: </label>
      <input type="text" name="last_name" required />
      <label for="age">Age: </label>
      <input type="number" name="age" required />
      <label for="email">Email: </label>
      <input type="email" name="email" required />
      <label for="password">Password: </label>
      <input type="password" name="password" required />
      <button type="submit" name="submit">Register</button>
    </form>
    <div class="bottom">
      <p><a href="{{host}}/api/sessions/github">Login with GitHub</a></p>
    </div>
    {{#if error}}
      <p style="color: red">Invalid credentials / Email already in use</p>
    {{/if}}

  </body>
</html>